includeConfig "../subworkflows/nf-core/fastq_fastqc_umitools_fastp/nextflow.config"
includeConfig "../subworkflows/nf-core/fastq_fastqc_umitools_trimgalore/nextflow.config"
includeConfig "../subworkflows/nf-core/fastq_qc_trim_filter_setstrandedness/nextflow.config"
includeConfig "../subworkflows/nf-core/fastq_subsample_fq_salmon/nextflow.config"
