// IMPORTANT: Add this configuration to your modules.config

process {
    withName: ".*:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_GENOME:.*" {
        ext.prefix = {"${meta.id}_genome"}
    }
    withName: ".*:FASTQ_ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS_TRANSCRIPTOME:.*" {
        ext.prefix = {"${meta.id}_transcriptome"}
    }
        withName: 'STAR_ALIGN' {
            ext.args   = { [
                '--alignSJDBoverhangMin 1',
                '--alignEndsType EndToEnd',
                '--outFilterMultimapNmax 20',
                params.save_unaligned ? '--outReadsUnmapped Fastx' : '',
                '--outSAMattributes All',
                '--outSAMstrandField intronMotif',
                '--outSAMtype BAM Unsorted',
                '--quantMode TranscriptomeSAM',
                '--quantTranscriptomeSAMoutput BanSingleEnd',
                '--readFilesCommand zcat',
                '--runRNGseed 0',
                '--twopassMode Basic',
                params.extra_star_align_args ? params.extra_star_align_args.split("\\s(?=--)") : ''
            ].flatten().unique(false).join(' ').trim() }
            publishDir = [
                [
                    path: { params.save_align_intermeds ? "${params.outdir}/alignment/${params.aligner}/original" : params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: '*.bam',
                    saveAs: { params.save_align_intermeds ? it : null }
                ],
                [
                    path: { "${params.outdir}/alignment/${params.aligner}/log" },
                    mode: params.publish_dir_mode,
                    pattern: '*.{out,tab}'
                ],
                [
                    path: { "${params.outdir}/alignment/${params.aligner}/unmapped" },
                    mode: params.publish_dir_mode,
                    pattern: '*.fastq.gz',
                    saveAs: { params.save_unaligned ? it : null }
                ]
            ]
        }
}
